<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
			
	<context:property-placeholder properties-ref="deployProperties" />

	<bean id="connectionFactoryLocator" class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
		<property name="connectionFactories">
			<list>
				<bean class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
					<constructor-arg value="${facebook.clientId}" />
					<constructor-arg value="${facebook.clientSecret}" />				
				</bean>
				<bean class="org.springframework.social.twitter.connect.TwitterConnectionFactory">
					<constructor-arg value="${twitter.consumerKey}" />
					<constructor-arg value="${twitter.consumerSecret}" />				
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors" 
		factory-method="noOpText" />
	
	<bean id="usersConnectionRepository" class="org.springframework.social.connect.jdbc.JdbcUsersConnectionRepository">
	    <constructor-arg ref="dataSource" />
	    <constructor-arg ref="connectionFactoryLocator" />
	    <constructor-arg ref="textEncryptor" />
	</bean>
	
	<bean id="connectionRepository" factory-method="createConnectionRepository" 
			factory-bean="usersConnectionRepository" scope="request">
	    <constructor-arg value="#{request.userPrincipal.name}" />
	    <aop:scoped-proxy proxy-target-class="false"/>
	</bean>
	
	<bean class="org.springframework.social.connect.web.ConnectController"
		p:applicationUrl="${application.url}"/>  
</beans>
